body {
    background-color: rgb(4, 9, 14);
    font-family: Helvetica, sans-serif;
    padding: 0 0 0 0px;
    color: greenyellow;
}

.nome {
    text-align: center;
}

.imagemperfil img {
    width: 200px;
    position: absolute;
    top: 10%;
    left: 41%;
}

.descricao1 {
    position: absolute;
    left: 44%;
    top: 50px;
}

.descricao2 {
    position: absolute;
    left: 31%;
    top: 33%;
    width: 400px;
}

.descricao2 h3, .descricao2 p {
    text-align: center;
}

.links a {
   text-decoration: underline; 
   color: blue;
}

.links {
    position: absolute;
    top: 53%;
    left: 50%;
}

.habilidades {
    position: absolute;
    top: 55%;
    left: 20%;
}

.habilidades li {
    padding: 5px;
}